---
title: Bridge Components library for Hotwire Native apps
description: A library of production-ready bridge components that you can drop into your app in minutes.
layout: landing
permalink: /bridge-components/
favorite: 1
# banner: false
---

{% assign pro = site.data.bridge_components.components | where_exp: "item", "item.pro" | size %}
{% assign free = site.data.bridge_components.components | where_exp: "item", "item.pro != true" | size %}

<header class="max-w-xl text-center mx-auto">
  <h1 class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl"><span class="inline-block bg-primary-300/50 italic -rotate-3 px-3 py-1 -my-1 -mx-1">Native</span> integrations for Hotwire Native apps</h1>
  <p class="mt-4 text-xl text-gray-700 sm:mt-6 sm:text-2xl">Add production-ready <span class="font-semibold">bridge components</span> to your app without writing any custom Swift or Kotlin.</p>
</header>

<div class="mt-8 flex items-center justify-center gap-x-6">
  <a href="{{ site.data.urls.bridge_components_install }}" class="button button-primary button-lg">
    {% svg "/assets/icons/github.svg" class="h-5 w-5 mr-1.5" %}
    Download Free
  </a>
  <a href="#components" class="text-sm font-semibold text-gray-900">See components <span aria-hidden="true">→</span></a>
</div>

<div class="hidden md:block mt-16">
  <img src="/assets/images/bridge-components/hero.png">
</div>

<div class="md:hidden">
  <h2 class="text-2xl text-gray-800 font-medium mt-12">Add HTML data attributes</h2>
  <img class="mt-4" src="/assets/images/bridge-components/hero-mobile-1.png">

  <h2 class="text-2xl text-gray-800 font-medium mt-12">Get native components</h2>
  <img class="mt-4" src="/assets/images/bridge-components/hero-mobile-2.png">
</div>

<section id="author" class="mt-24 scroll-mt-12">
  <div class="max-w-2xl mx-auto bg-gray-50 rounded-2xl px-7 py-6 flex flex-col md:flex-row items-center md:shadow-lg md:-rotate-3">
    <img src="/assets/images/joe.jpg" alt="Joe Masilotti" class="h-36 w-36 rounded-full mb-4 md:mb-0 md:mr-8 object-cover">
    <div>
      <h3 class="text-2xl font-medium text-gray-800"><a class="hover:underline" href="{% link _pages/about.liquid %}">Joe Masilotti</a></h3>
      <p class="text-xl text-gray-600 mt-1">Creator of Bridge Components</p>
      <p class="text-lg text-gray-600 mt-4 leading-relaxed">I built Bridge Components to help Rails developers add native features without writing any Swift or Kotlin. It’s my go-to tool on every project, and I hope it makes your development faster and easier. <a class="font-semibold hover:underline" href="{% link _pages/about.liquid %}">More about me</a>.</p>
    </div>
  </div>
</section>

{% if site.bridge_components.testimonials %}
  <section id="testimonials" class="flow-root mt-24 scroll-mt-12">
    <div class="sm:-mx-4 sm:columns-3">
      {% for testimonial in site.data.bridge_components.testimonials %}
        {% include testimonial.liquid object=testimonial %}
      {% endfor %}
    </div>
  </section>
{% endif %}

<section id="components" class="mt-24 scroll-mt-12">
  <div class="max-w-screen-md mx-auto">
    <h2 class="text-2xl text-gray-800 font-medium leading-tight sm:text-3xl">Battle-tested bridge components that give your app native features, without writing any Swift or Kotlin.</h2>
    <p class="text-lg text-gray-700 leading-relaxed mt-6 sm:text-xl sm:leading-relaxed">Add the package and a few data attributes to your HTML. Get native alerts, menus, scanners, and more on iOS and Android.</p>
  </div>

  <div class="mt-24">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-20 xl:-mx-10 mt-12">
      {% for component in site.data.bridge_components.components %}
        {% include bridge_components/component.liquid component=component %}
      {% endfor %}
    </div>
  </div>
</section>

<section id="pricing" class="mt-24">
  <div class="grid sm:pb-16 md:grid-cols-2 md:pt-16 lg:p-20">
    <div class="relative px-4 py-12 bg-gray-50 border border-gray-200 rounded-2xl sm:px-10 lg:px-12 shadow-lg mb-8">
      <div class="relative flex flex-col">
        <p class="mt-2 text-lg tracking-tight text-gray-600">A taste of native functionality</p>
        <p class="order-first flex font-display font-bold">
          <span class="mt-1 ml-1 text-7xl tracking-tight text-gray-900">Free</span>
        </p>
        <div class="order-last mt-8">
          <ul role="list" class="-my-2 divide-y divide-gray-200 text-base tracking-tight text-gray-900">
            <li class="flex items-center py-2">
              {% svg "/assets/icons/check.svg" class="h-8 w-8 text-gray-600" %}
              <span class="ml-4">{{ free }} free bridge components</span>
            </li>
            <li class="flex items-center py-2">
              {% svg "/assets/icons/check.svg" class="h-8 w-8 text-gray-600" %}
              <span class="ml-4">Community support</span>
            </li>
          </ul>
        </div>
        <a href="{{ site.data.urls.bridge_components_install }}" class="inline-flex justify-center mt-8 rounded-md bg-gray-900 px-4 py-2 text-base font-semibold tracking-tight text-white shadow-sm hover:bg-gray-700">Download Free</a>
      </div>
    </div>

    <div class="relative px-4 bg-gray-900 text-white rounded-2xl sm:px-10 py-12 lg:px-12 md:col-start-2 md:row-start-1 md:-mt-8 md:-ml-8 z-10">
      <div class="relative flex flex-col">
        <p class="mt-2 text-lg tracking-tight text-white">Advanced components and priority support</p>
        <p class="order-first flex font-display font-bold">
          <span class="mt-1 ml-1 text-7xl tracking-tight text-white">$199</span>
          <span class="mt-auto ml-2 mb-1 text-lg font-light text-gray-300">/developer</span>
        </p>
        <div class="order-last mt-8">
          <ul role="list" class="-my-2 divide-y divide-white/10 text-base tracking-tight text-white">
            <li class="flex items-center py-2">
              {% svg "/assets/icons/check.svg" class="h-8 w-8 text-white" %}
              <span class="ml-4">{{ free }} free bridge components</span>
            </li>
            <li class="flex items-center py-2">
              {% svg "/assets/icons/check.svg" class="h-8 w-8 text-white" %}
              <span class="ml-4">{{ pro }} advanced bridge components</span>
            </li>
            <li class="flex items-center py-2">
              {% svg "/assets/icons/check.svg" class="h-8 w-8 text-white" %}
              <span class="ml-4">One-time payment for lifetime access</span>
            </li>
            <li class="flex items-center py-2">
              {% svg "/assets/icons/check.svg" class="h-8 w-8 text-white" %}
              <span class="ml-4">Priority support</span>
            </li>
          </ul>
        </div>
        <a href="{{ site.data.urls.bridge_components_pro }}" class="inline-flex justify-center mt-8 rounded-md bg-white px-4 py-2 text-base font-semibold tracking-tight text-gray-900 shadow-sm hover:bg-gray-200">Buy PRO</a>
      </div>
    </div>
  </div>
</section>

{% if site.bridge_components.customers %}
  <section id="customers" class="mt-24 scroll-mt-12">
    <div class="mx-auto grid max-w-lg grid-cols-4 items-center gap-x-8 gap-y-12 sm:max-w-xl sm:grid-cols-6 sm:gap-x-10 sm:gap-y-14 lg:mx-0 lg:max-w-none lg:grid-cols-5">
      {% for customer in site.data.bridge_components.customers %}
        <img class="grayscale col-span-2 max-h-12 w-full object-contain lg:col-span-1" src="/assets/images/bridge-components/customers/{{ customer.image }}" alt="{{ customer.name }}">
      {% endfor %}
    </div>
  </section>
{% endif %}

<section id="faq" class="mt-24 scroll-mt-12">
  <div class="lg:grid lg:grid-cols-12 lg:gap-8">
    <div class="lg:col-span-5">
      <h2 class="text-2xl font-semibold tracking-tight text-pretty text-gray-900 sm:text-3xl">Frequently asked questions</h2>
      <p class="mt-4 text-base/7 text-pretty text-gray-600">Can’t find the answer you’re looking for? <span class="lg:block"></span><a href="mailto:joe@masilotti.com" class="font-medium underline">Send me an email</a>.</p>
    </div>
    <div class="mt-10 lg:col-span-7 lg:mt-0">
      <dl class="space-y-10">
        <div>
          <dt class="text-base/7 font-semibold text-gray-900">What does the pro license include?</dt>
          <dd class="mt-2 text-base/7 text-gray-600"> The pro license unlocks all free components, advanced bridge components, and priority support all from a one-time (non-recurring) purchase.</dd>
        </div>

        <div>
          <dt class="text-base/7 font-semibold text-gray-900">Where can I find the full pro license?</dt>
          <dd class="mt-2 text-base/7 text-gray-600">View the complete terms on <a href="https://github.com/joemasilotti/bridge-components/blob/main/PRO-LICENSE.md" class="font-medium underline" target="_blank">GitHub</a>. In summary, it allows commercial use on unlimited projects for a single-developer seat.</dd>
        </div>

        <div>
          <dt class="text-base/7 font-semibold text-gray-900">What are the platform requirements?</dt>
          <dd class="mt-2 text-base/7 text-gray-600">
            <ul class="list-disc list-inside">
              <li>Hotwire Native 1.2 or later</li>
              <li>Stimulus 3 or later</li>
              <li>iOS 16 or later</li>
              <li>Android 9 or later</li>
            </ul>
          </dd>
        </div>

        <div>
          <dt class="text-base/7 font-semibold text-gray-900">How do I get support?</dt>
          <dd class="mt-2 text-base/7 text-gray-600">Free users can ask questions on <a href="https://github.com/joemasilotti/bridge-components/discussions" class="font-medium underline" target="_blank">GitHub discussions</a>. PRO license holders also get direct email support.</dd>
        </div>
      </dl>
    </div>
  </div>
</section>
