<header class="pointer-events-none relative z-50 flex flex-col">
  <div class="top-0 z-10 h-16 pt-6">
    <%= render UI::Container.new do %>
      <div class="relative flex gap-4 justify-center">
        <div class="flex flex-1">
          <%= render UI::Avatar.new %>
        </div>

        <div class="flex flex-1 justify-end md:justify-center">
          <%= render UI::Navigation::Mobile.new(links:) %>
          <%= render UI::Navigation::Desktop.new(current_path:, links:) %>
        </div>

        <div class="flex justify-end md:flex-1">
          <div class="pointer-events-auto">
            <a href="/feed.xml" title="RSS" aria-label="RSS" class="block group rounded-full bg-white/90 px-3.5 py-2.5 shadow-lg shadow-zinc-800/5 ring-1 ring-zinc-900/5 backdrop-blur">
              <%= svg "/images/icons/solid/rss.svg", class: "h-5 w-5 text-zinc-500 group-hover:text-primary-600" %>
            </a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</header>
