<%= render UI::Container.new(class_name: "mt-16 sm:mt-32") do %>
  <header class="max-w-2xl">
    <h1 class="text-4xl font-bold tracking-tight text-zinc-800 sm:text-5xl">
      <%= title %>
    </h1>

    <p class="mt-6 text-lg text-zinc-600">
      <%= intro %>
    </p>
  </header>

  <% if newsletter %>
    <%= render EmailCapture.new(newsletter) %>
  <% end %>

  <div class="mt-16 sm:mt-20">
    <%= content %>
  </div>
<% end %>
