<% if past_date? %>
  <p>The next session will be in late 2023. Add your email to get first access when it goes on sale.</p>

  <div class="not-prose">
    <%= render EmailCapture.new(newsletter, cta: "Notify me") %>
    <p class="mt-4"><small>You’ll also be subscribed the <a href="/newsletter" class="underline">Turbo Native newsletter</a>.</small></p>
  </div>
<% elsif available? %>
  <p>When: <%= date %></p>

  <div class="not-prose">
    <div class="flex items-center">
      <%= render UI::Button.new(title: "Buy my ticket", href: href, onclick: "fathom.trackGoal('#{event_id}', 0);") %>
      <p class="text-sm font-semibold leading-6 text-zinc-900 ml-6"><%= hero %></p>
    </div>
  </div>
<% else %>
  <p>When: <%= date %></p>
  <p><span class="font-semibold">Sorry, this session is sold out.</span> The next session will take place in late 2023. Add your email to get first access when it goes on sale.</p>

  <div class="not-prose">
    <%= render EmailCapture.new(newsletter, cta: "Notify me") %>
    <p class="mt-4"><small>You’ll also be subscribed the <a href="/newsletter" class="underline">Turbo Native newsletter</a>.</small></p>
  </div>
<% end %>
