{% comment %}
Renders a conference or podcast appearance summary and link.
- appearance: An object defining title, description, event, and href.
{% endcomment %}

<article class="group relative flex flex-col items-start">
  <h3 class="text-lg font-semibold tracking-tight text-gray-800">
    <div class="absolute -inset-x-4 -inset-y-6 z-0 scale-95 bg-gray-50 opacity-0 transition group-hover:scale-100 group-hover:opacity-100 sm:-inset-x-6 sm:rounded-2xl"></div>
    <a href="{{ appearance.href }}" target="_blank">
      <span class="absolute -inset-x-4 -inset-y-6 z-20 sm:-inset-x-6 sm:rounded-2xl"></span>
      <span class="relative z-10">{{ appearance.title }}</span>
    </a>
  </h3>

  <p class="relative z-10 order-first mb-3 flex items-center text-gray-400 pl-3.5">
    <span class="absolute inset-y-0 left-0 flex items-center" aria-hidden="true">
      <span class="h-4 w-0.5 rounded-full bg-gray-200">
      </span>
    </span>
    {{ appearance.event }}
  </p>

  <p class="relative z-10 mt-2 text-gray-600">{{ appearance.description }}</p>

  <div aria-hidden="true" class="relative z-10 mt-4 flex items-center font-medium text-teal-500">
    {{ include.cta }}
    {% svg /assets/icons/micro/chevron_right.svg class="ml-1.5 h-3 w-3 stroke-current" %}
  </div>
</article>
