{% comment %}
Renders a card with a title and description with an optional link, CTA, and icon.
- object.title: The heading of the card.
- object.description: The sentence or two body.
- object.href: Optional. Where to go if the card is clicked.
- object.cta: Required if href set. The copy at the bottom of the link.
- object.icon: Required if href set. The relative path to the icon near the CTA.
{% endcomment %}

{% if include.object.href %}
  <a href="{% link {{ include.object.href }} %}" class="group block relative p-4 rounded-2xl transition ease-in-out duration-300 hover:bg-gray-50">
    <div class="flex items-center">
      {% svg "/assets/icons/{{ include.object.icon }}" class="w-5 h-5 mr-2.5" %}
      <span class="text-xl font-semibold text-gray-800">{{ include.object.title }}</span>
    </div>
    <p class="text-gray-600 text-lg mt-2">{{ include.object.description }}</p>
    <div class="mt-4 flex items-center font-medium text-primary-600">
      {{ include.object.cta }}
      {% svg /assets/icons/micro/chevron_right.svg class="ml-1.5 h-3 w-3 stroke-current" %}
    </div>
  </a>
{% else %}
  <li class="group relative flex flex-col items-start">
    <p class="text-lg font-semibold tracking-tight text-gray-800">{{ include.object.title }}</p>
    <p class="relative z-10 mt-2 text-gray-600">{{ include.object.description }} </p>
  </li>
{% endif %}
