{% comment %}
Renders a testimonial with author name and optional image and handle.
- object.quote: The main content, what the author said.
- object.author: The name of the person who provided the testimonial.
- object.title: The author's title or social media handle.
- object.image: Optional. A path to an image of the author.
- object.link: Optional. The text to display for href, usually the author's company.
- object.href: Optional. The URL when link is clicked.
{% endcomment %}

<figure class="not-prose max-w-lg rounded-2xl bg-gray-50 p-6 leading-6 hidden first:inline-block [&:nth-child(2)]:sm:inline-block lg:inline-block w-full mt-8">
  <blockquote class="text-gray-900">
    <p>&ldquo;{{ include.object.quote }}&rdquo;</p>
  </blockquote>
  <figcaption class="mt-4 flex items-center text-sm gap-x-4">
    {% if include.object.image %}
      <img class="h-10 w-10 rounded-full bg-gray-50" src="/assets/images/{{ include.object.image }}" alt="{{ include.object.author }}">
    {% endif %}
    <div>
      <div class="font-semibold text-gray-900">{{ include.object.author }}</div>
      <div class="text-gray-600">
        {{ include.object.title }}
        {% if include.object.link %}
          <a href="{{ include.object.href }}" class="hover:underline">{{ include.object.link }}</a>
        {% endif %}
      </div>
    </div>
  </figcaption>
</figure>
