---
layout: default

---

<%= render UI::Container.new(class_name: "mt-16 lg:mt-32") do %>
  <div class="xl:relative">
    <div class="mx-auto max-w-2xl">
      <a href="<%= resource.back_href %>" aria-label="Go back to articles" title="Go back to articles" class="group mb-8 flex h-10 w-10 items-center justify-center rounded-full bg-white shadow-md shadow-zinc-800/5 ring-1 ring-zinc-900/5 transition lg:absolute lg:-left-5 lg:mb-0 lg:-mt-2 xl:-top-1.5 xl:left-0 xl:mt-0">
        <%= svg "/images/icons/mini/arrow_left.svg", class: "h-3 w-3 stroke-zinc-500 transition group-hover:stroke-zinc-700" %>
      </a>

      <article>
        <header class="flex flex-col">
          <h1 class="mt-8 text-4xl sm:text-5xl font-bold tracking-tight text-zinc-800">
            <% if resource.series? %>
              <span class="block text-3xl sm:text-4xl font-semibold text-zinc-500"><%= resource.data.series %></span>
              <span><%= resource.data.series_title %></span>
            <% else %>
              <%= resource.data.title %>
            <% end %>
          </h1>

          <aside class="order-first flex items-center">
            <div>
              <div class="h-12 w-12 sm:h-20 sm:w-20 rounded-full bg-white/90 p-0.5 shadow-lg shadow-zinc-800/5 ring-1 ring-zinc-900/5 backdrop-blur">
                <a href="/" aria-label="Joe Masilotti" title="Joe Masilotti" class="block pointer-events-auto">
                  <img src="/images/joe-small.jpg" alt="Joe Masilotti" class="rounded-full bg-zinc-100 object-cover h-[11] w-[11] sm:h-[19] sm:w-[19]">
                </a>
              </div>
            </div>

            <div class="text-sm sm:text-base ml-4 leading-snug">
              <p class="text-sm sm:text-lg font-medium text-zinc-900">
                <a href="/" class="hover:underline">Joe Masilotti</a>
              </p>
              <div class="text-zinc-500">
                <p>Solopreneur and Turbo Native expert.</p>
                <time datetime="<%= resource.date %>"><%= resource.formatted_date %></time>
              </div>
            </div>
          </aside>
        </header>

        <div class="prose mt-8">
          <%= yield %>
        </div>
      </article>
    </div>
  </div>
<% end %>
