---
title: Articles
description: |
  My writing on Turbo Native, Ruby on Rails, and being a solopreneur.
permalink: /articles/

---

<%= render UI::SimpleLayout.new(
  title: "My writing on Turbo Native, Ruby on Rails, and being a solopreneur.",
  intro: "Get started with my latest article and some of my favorites."
) do %>
  <div class="flex max-w-3xl flex-col space-y-12">
    <%= render Article.new(collections.posts.resources.first, hide_date: true, badge: :new) %>

    <div class="space-y-16">
      <% collections.posts.resources.select { |r| r.data.favorite }.sort_by { |r| r.data.index }.each do |post| %>
        <%= render Article.new(post, hide_date: true, badge: :favorite) %>
      <% end %>
    </div>
  </div>
<% end %>

<div class="mt-20 sm:px-8">
  <div class="mx-auto max-w-7xl lg:px-8">
    <%= render WideNewsletter.new(site.data.newsletters.masilotti, border: nil) %>
  </div>
</div>

<%= render UI::SimpleLayout.new(
  intro: "And everything I've ever published, in reverse chronological order."
) do %>
  <div class="md:border-l md:border-zinc-100 md:pl-6">
    <div class="flex max-w-3xl flex-col space-y-16">
      <% collections.posts.resources.sort_by { |r| r.data.date }.reverse.each do |post| %>
        <%= render Article.new(post) %>
      <% end %>
    </div>
  </div>
<% end %>
