---
title: Joe Masilotti, the Turbo Native guy.
description: |
  I help folks launch iOS apps in the App Store with Turbo Native and Ruby on
  Rails.
permalink: /

hide_avatar: true

---

<%= render UI::Container.new(class_name: "mt-9") do %>
  <div class="mt-16 mb-6">
    <%= render UI::Avatar.new(large: true) %>
  </div>

  <div class="max-w-xl">
    <h1 class="text-4xl font-bold tracking-tight text-zinc-800 sm:text-5xl">
      <span class="block">I'm Joe Masilotti,</span> the Turbo Native guy.
    </h1>

    <p class="mt-6 text-2xl text-zinc-600 font-medium"><%= resource.data.description %></p>
  </div>
<% end %>

<%= render UI::Container.new(class_name: "mt-20 md:mt-28") do %>
  <div class="grid md:grid-cols-3 justify-center gap-16 overflow-hidden py-4">
    <% site.data.core_offerings.each do |offering| %>
      <%= render CoreOffering.new(**offering.to_h.to_options) %>
    <% end %>
  </div>
<% end %>
