<div class="group relative flex flex-col items-start">
  <div class="relative z-10">
    <img src="/assets/images/bridge-components/{{ include.component.name | slugify }}.png" alt="{{ include.component.name | capitalize }} Component preview">
  </div>
  <h3 class="text-lg font-semibold tracking-tight text-gray-800 mt-6">
    <div class="absolute -inset-y-6 -inset-x-4 z-0 scale-95 bg-gray-50 opacity-0 transition group-hover:scale-100 group-hover:opacity-100 sm:-inset-x-6 sm:rounded-2xl"></div>
    <a href="https://github.com/joemasilotti/bridge-components/tree/main/docs/components/{{ include.component.name | slugify }}.md" target="_blank">
      <span class="absolute -inset-y-6 -inset-x-4 z-20 sm:-inset-x-6 sm:rounded-2xl"></span>
      <span class="z-10 relative space-x-2 flex items-center">
        {% if include.component.beta %}
          <span class="inline-flex items-center rounded-md px-2 py-1 text-xs font-medium bg-red-100 text-red-700">BETA</span>
        {% elsif include.component.pro %}
          <span class="inline-flex items-center rounded-md px-2 py-1 text-xs font-medium bg-violet-100 text-violet-700">PRO</span>
        {% endif %}
        <span class="capitalize">{{ include.component.name }} component</span>
      </span>
    </a>
  </h3>
  <p class="relative z-10 mt-2 text-gray-600">{{ include.component.description }}</p>
</div>
