<%= render UI::Card.new do %>
  <%= render UI::Card::Title.new(href: url_for(href)) do %>
    <div class="flex items-center">
      <%= svg icon, class: "w-5 h-5 mr-1.5" %>
      <%= title %>
    </div>
  <% end %>

  <%= render UI::Card::Description.new(description) %>
  <%= render UI::Card::CTA.new(cta) %>
<% end %>
