<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title><%= title %></title>
<%= tag.meta name: "description", content: description %>

<%= tag "meta", name: "canonical", href: url %>
<%= tag "meta", name: "author", content: author %>

<%= tag "meta", name: "og:title", content: title %>
<%= tag "meta", name: "og:description", content: description %>
<%= tag "meta", name: "og:image", content: image %>
<%= tag "meta", name: "og:url", content: url %>
<%= tag "meta", name: "og:site_name", content: site_name %>
<meta property="og:locale" content="en_US">

<%= tag "meta", name: "twitter:creator", content: twitter %>
<%= tag "meta", name: "twitter:site", content: twitter %>
<%= tag "meta", name: "twitter:title", content: title %>
<%= tag "meta", name: "twitter:image", content: image %>
<%= tag "meta", name: "twitter:card", content: twitter_card %>

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=3">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=3">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=3">
<link rel="manifest" href="/site.webmanifest?v=3">
<link rel="shortcut icon" href="/favicon.ico?v=3">
<meta name="apple-mobile-web-app-title" content="Masilotti.com">
<meta name="application-name" content="Masilotti.com">
<meta name="msapplication-TileColor" content="#00a300">
<meta name="theme-color" content="#fafafa">

<% unless Bridgetown.env.development? %>
  <%= feed_meta %>
<% end %>

<%= tag "link", rel: "stylesheet", href: webpack_path(:css) %>
<script src="<%= webpack_path(:js) %>" defer></script>
<script src="https://cdn.usefathom.com/script.js" data-site="<%= site_id %>" defer></script>

<%= live_reload_dev_js %>
