<div class="mt-8 border-t border-zinc-100 pt-8">
  <article>
    <%= render UI::Card.new do %>
      <%= render UI::Card::Title.new(href: url_for(article)) do %>
        <span class="inline-flex items-center rounded-full bg-primary-100 px-2.5 py-0.5 text-xs font-medium text-primary-800">New</span>
        <span class="ml-1.5"><%= article.data.title %></span>
      <% end %>

      <%= render UI::Card::Description.new(article.data.description) %>
      <%= render UI::Card::CTA.new("Read article") %>
    <% end %>
  </article>
</div>
