<%= render UI::Card.new(as: "li") do %>
  <div class="relative z-10 flex h-12 w-12 items-center justify-center rounded-full bg-white shadow-md shadow-zinc-800/5 ring-1 ring-zinc-900/5">
    <img src="/images/projects/<%= logo %>" alt="<%= name %>" class="h-12 w-12 rounded-full">
  </div>

  <h2 class="mt-6 text-base font-semibold text-zinc-800">
    <%= render UI::Card::Link.new(link.href, **link_options) do %>
      <%= name %>
    <% end %>
  </h2>

  <%= render UI::Card::Description.new(description) %>

  <p class="relative z-10 mt-6 flex text-sm font-medium text-zinc-400 transition group-hover:text-primary-500">
    <%= svg "images/icons/mini/link.svg", class: "h-6 w-6 flex-none" %>
    <span class="ml-2"><%= link.label %></span>
  </p>
<% end %>
